<!DOCTYPE html>

<html>
    <head>
        <title>Youtube Converter</title>
    </head>

    <body>
        <h1>Mon Convertisseur</h1>

        <form action="/converter/ajouter/" method="post">
            <p>
                <label for="url">Url : </label>
                <input type="text" name="url" id="url" autofocus />
                <label for="name">Titre : </label>
                <input type="text" name="name" id="name"/>
                <input type="submit" />
            </p>
        </form>
    </body>
</html>